<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Space Adventure Park </title>
</head>

<body>
  <div class="content">
    <!-- Navigation bar -->
  <%- include('common/header') %> 

  <!-- Hero section -->
  <header class="hero">
    <h1>Welcome to Space Adventure Park</h1>
    <p>Embark on a journey through the cosmos</p>
    <a href="attractions.html" class="cta-button">Explore Attractions</a>
  </header>

    <!-- About section -->
    <section class="about">
      <h2>About Us</h2>
      <p>
        Welcome to the Space Adventure Park, where your dreams of exploring
        the universe come true. Our park offers a wide range of space-themed
        attractions and experiences for visitors of all ages.
      </p>
    </section>
    <section class="schedule">
      <h2>Schedule</h2>
      <table>
        <tr>
          <th>Date</th>
          <th>Event</th>
          <th>Location</th>
          <th>Time</th>
        </tr>
        <tr>
          <td>Monday, October 16</td>
          <td>Space Shuttle Launch</td>
          <td>Main Launch Pad</td>
          <td>10:00 AM</td>
        </tr>
        <tr>
          <td>Wednesday, October 18</td>
          <td>Alien Encounter</td>
          <td>Extraterrestrial Zone</td>
          <td>2:30 PM</td>
        </tr>
        <tr>
          <td>Friday, October 20</td>
          <td>Astronomy Night</td>
          <td>Observatory</td>
          <td>7:00 PM</td>
        </tr>
        <tr>
          <td>Saturday, October 21</td>
          <td>Spacewalk Simulation</td>
          <td>Training Center</td>
          <td>1:00 PM</td>
        </tr>
        <tr>
          <td>Sunday, October 22</td>
          <td>Planetarium Show</td>
          <td>Planetarium Dome</td>
          <td>3:00 PM</td>
        </tr>
      </table>
    </section>
  </div>
  <!-- footer section -->
  <footer>
    <h2>Join Our Mailing List:</h2>

    <form action="/" method="get">
      <label for="name"> Name: </label>
      <p>
        <input type="text" id="name" name="name" placeholder="enter name" required />
      </p>
      <label for="email">Email:</label>
      <p>
        <input type="email" id="email" placeholder="enter email" required />
      </p>

      <input class="cta-button" type="Submit" value="Submit" />
    </form>
  </footer>
</body>

</html>