<nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="attractions.html">Attractions</a></li>
      <li><a href="training.html">Astronaut Training</a></li>
      <li><a href="planetarium.html">Planetarium</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>